MLS_URL=https://ccar.mysolidearth.com/authenticate?redirect_to=eyJwYXJhbXMiOnt9LCJuYW1lIjoic2FtbC5hdXRoIiwicXVlcnkiOnsiU0FNTFJlcXVlc3QiOiJmWkZCUzhOQUVJWC9TdGg3dXB1WXhIWkpBc0VpRkNxVVZqMTRrWEU3TVlITmJ0elpGUDMzSmlsSzlkRGpEUFBlKzJZbUoraDBMNnZCTjJhUEh3T1NEemJyZ3IybUlyMjlTZkVZSmtrR1lZSWlEbGRadEF6cmVKbThKVkN2NnF4bXdUTTZhcTBwV0x3UUxOZ1FEYmd4NU1INHNTWGlMQlJKS0tKSEVVbXhraUo2WWNGNlRHZ04rRm5WZU4rVDVGd3BjSXZ1aTZ4dWp3ak9Od3RsT3o2aGNSakpXSEJ2bmNJWnNtQTFhTUlwYkFkRTdRbC9PeFVSdXNuNHpob2FPblFIZEtkVzRkTisreStxQndmdjFqalVOQ2Z0enZYMndJa3NiOEFjTlk1QUo4V0N6MDRia3ZPVkNqWTRJeTFRUzlKQWh5Uzlrb2ZxWVN2SDdXWHZyTGZLYWxibTA3U2NqK0V1OU5mbDhBUFB5bXVvT2I4d0w4L1YzL2VWM3c9PSIsIlJlbGF5U3RhdGUiOiI1NjE4NDQxOC1kM2U2LTRkZjItYTc4YS01YjQ4OWUzMjEzNjkifX0%3D
MLS_USERNAME=YOUR_MLS_USERNAME_HERE
MLS_PASSWORD=YOUR_MLS_PASSWORD_HERE
MLS_AREAS=Myrtle Beach,North Myrtle Beach,Little River,Longs,Conway,Surfside Beach,Garden City Beach,Murrells Inlet,Aynor,Loris
MLS_PRICE_MIN=0
MLS_PRICE_MAX=999999999
MLS_PROPERTY_TYPES=all